# node_modules y build
node_modules/
.next/
dist/
build/
.expo/
.expo-shared/
.expo/*
*.log

.env
.env.*
*.key
*.pem

# Firebase config local
apps/web-admin/firebaseConfig.json
apps/web-admin/.next/
apps/web-admin/.next/*
apps/web-admin/.next/static/*
apps/web-admin/.next/server/*

# Prisma DB local
*.db
*.db-journal
coverage/

.DS_Store
Thumbs.db

.vscode/
.idea/
*.sw?

# Mac / Windows cache
.DS_Store
Thumbs.db
